
body {
    color: rgb(94, 26, 21);
    background: beige;
    font-family: 'Montserrat', sans-serif;
}

#listening {
    color: #58400d;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    width: 20%;
}