
body {
    color: rgb(100, 100, 100);
    background: rgb(172, 96, 96);
}

h1 {
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    margin: 10px;
    padding: 5px;
}

.blur {filter: blur(4px);}